### NLP using CountVectorizer  and TF-IDF

### CountVectorizer

In [4]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [21]:
text = ['Hello! How are you?', "I am OK OK", 'Where are you these days?']

In [22]:
vectorizer = CountVectorizer()

In [23]:
vectorizer.fit(text)

CountVectorizer()

In [24]:
vec = vectorizer.transform(text)
vec

<3x9 sparse matrix of type '<class 'numpy.int64'>'
	with 11 stored elements in Compressed Sparse Row format>

In [25]:
vec.toarray()   #our text has converted into matrix of 3x9

array([[0, 1, 0, 1, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 2, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 1, 1, 1]], dtype=int64)

In [26]:
features = vectorizer.get_feature_names()

In [27]:
pd.DataFrame(vec.toarray(), columns=features)

   am  are  days  hello  how  ok  these  where  you
0   0    1     0      1    1   0      0      0    1
1   1    0     0      0    0   2      0      0    0
2   0    1     1      0    0   0      1      1    1

### TF-IDF : Term Ferquency and Inverse Document Frequency

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
doc1 = 'I went for jogging'
doc2 = 'There were not many people for jogging'

In [30]:
vectorizer = TfidfVectorizer()

In [31]:
vectors = vectorizer.fit_transform([doc1, doc2])

In [32]:
features = vectorizer.get_feature_names()

In [34]:
vec = vectors.toarray()

In [35]:
df = pd.DataFrame(vec, columns=features)

In [36]:
df

,for,jogging,many,not,people,there,went,were
0,0.501549,0.501549,0.000000,0.000000,0.000000,0.000000,0.704909,0.000000
1,0.290170,0.290170,0.407824,0.407824,0.407824,0.407824,0.000000,0.407824