In [1]:
import pandas as pd
import glob

In [14]:
folder_path = 'C:/Users/ganesh/Documents/Jupyter Files/im/merging multiple files within folders/N*/*'
# /N*/* is for getting folders starting with 'N' and files within that folders

folders_within = glob.glob(folder_path)
folders_within

['C:/Users/ganesh/Documents/Jupyter Files/im/merging multiple files within folders\\New folder1\\copy_testing_flags1.xlsx',
 'C:/Users/ganesh/Documents/Jupyter Files/im/merging multiple files within folders\\New folder2\\copy_testing_flags2.xlsx',
 'C:/Users/ganesh/Documents/Jupyter Files/im/merging multiple files within folders\\New folder2\\copy_testing_flags4.xlsx',
 'C:/Users/ganesh/Documents/Jupyter Files/im/merging multiple files within folders\\New folder3\\copy_testing_flags3.xlsx']

In [31]:
mother_df = pd.DataFrame()

In [32]:
for files in folders_within:
#     print(files)
    
    file_address = files.split('\\')     # split on basis of '\\' 
    file_name = file_address[2]          # this gives file name which is at 2nd index
#     print(file_name)

    file_path = folder_path[:-4] + file_address[1] + '/' + file_name
#     print(file_path)

    df = pd.read_excel(file_path)
    
    mother_df = pd.concat([mother_df, df])
    print(mother_df.shape)

(588, 6)
(1176, 6)
(1764, 6)
(2352, 6)

In [33]:
mother_df

,Tests,l_product,MaterialNumber,Copy_Testing_Flag,product_code,market
0,DES,SP-CFTO-006324,200005541_SP-CFTO-006324_UNITED STATES,1,200005541,UNITED STATES
1,DES,SP-CFTO-006608,200000773_SP-CFTO-006608_South Africa,1,200000773,South Africa
2,DES,SP-CFTO-006314,200000844_SP-CFTO-006314_UNITED KINGDOM,2,200000844,UNITED KINGDOM
3,DES,SP-CFTO-016531,200000844_SP-CFTO-016531_NEWZEALAND,2,200000844,NEWZEALAND
4,DES,SP-CFTO-006422,200000844_SP-CFTO-006422_GERMANY,2,200000844,GERMANY
...,...,...,...,...,...,...
583,RSL2,SP-CFTO-004925,200013441_SP-CFTO-004925_BRAZIL,1,200013441,BRAZIL
584,RSL,SP-CFTO-004756,200013441_SP-CFTO-004756_USA,1,200013441,USA
585,RSL,SP-CFTO-004925,200013441_SP-CFTO-004925_BRAZIL,1,200013441,BRAZIL
586,UOD_TPW,SP-CFTO-004756,200013441_SP-CFTO-004756_USA,1,200013441,USA
587,Micro,SP-CFTO-004925,200013441_SP-CFTO-004925_BRAZIL,1,200013441,BRAZIL